<div class="pb-3">
  <div class="flex justify-between">
    <div class="mt-16 text-center px-2 md:text-left md:px-0">
      <div class="text-6xl leading-none font-extrabold">Ha kin</div>
      <div class="mt-4 text-sm leading-5 font-medium">
        Everything we know it good will let you know too.
        <br />
        Are you hungry? don&apos;t know what to eat? Why not try
        <span class="font-bold">Ha Kin</span>
        <br />
        <span class="text-base font-semibold">
          Platform for food lover like you.
        </span>
      </div>
      <button
        class="mt-8 bg-red-600 hover:bg-red-700 text-white py-4 px-10 rounded-md"
      >
        I&apos;m hungry
      </button>
      <div class="mt-24 flex justify-center md:justify-start">
        <div>
          <div class="text-xl leading-7 font-semibold text-gray-600">
            Featured Clients
          </div>
          <div class="pt-4">
            <app-feature-client-list [clients]="clients"></app-feature-client-list>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden lg:block">
      <img
        src="https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
        alt=""
        width="340"
        height="480"
        class="object-cover w-[340px] h-[480px]"
      />
    </div>
  </div>
  <div *ngIf="popularMenu">
    <div class="pt-14 text-3xl leading-9 font-bold">
      Popular Restaurant
    </div>
    <div class="pt-9">
      <app-popular-menu [menu]="popularMenu" (onClick)="selectMenu($event)"></app-popular-menu>
    </div>
  </div>
</div>
